block variable
    -var path = '';
    -var quiz = false;
    //- -var pageClass = 'bg';

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/aos.css")
        link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/jquery-ui.css")
        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/twentytwenty.css")
        link(rel="stylesheet", type="text/css", href=path +"css/select.css")

        link(rel="stylesheet", type="text/css", href=path + "css/style.css")
    body
        //- include preloader.pug

        .wrapper#wrapper
            if !quiz
                include header.pug


            if !quiz
                main.main_content
                    block content
            else
                main.main_content.main_content_quiz
                    block content




            if !quiz
                include footer.pug

            //- include widget.pug
            if !quiz
                include calculate.pug

            include modal.pug

            include scripts.pug
