extends ../../layout/layout.pug

block variable
    -var path = '../../';

    //- path +"img/head_main.png"


block content
    // begin head
    section#head.head.section
        .container_center
            .head__top
                .head__bg.img_bg
                    img.desktop(src=path +"img/head_main.png" alt="image" loading="lazy")
                    img.mobile(src=path +"img/head_main_m.png" alt="image" loading="lazy")

                .head__inner
                    .head__content
                        h2.section__title <b>Безболезненные стоматологические услуги</b> с использованием самых современных методов лечения
                        .head__desc <b>Прозрачный договор</b> на все виды услуг без скрытых платежей 
                        .head__btns
                            a.btn.btn_danger.btn_lg(href="#") 
                                span Записаться на <br> первичный приём
                            a.btn.btn_lg(href="#") 
                                span Узнать стоимость <br>по WhatsApp
                                span время ответа около 10 минут

                    .head__video
                        .video
                            .video__text <b>Посмотрите прямо сейчас общее видео о клинике</b> и о нашем подходе к работе
                            .video__preview
                                .video__img.img
                                    img(src=path +"img/head_video.png" alt="image" loading="lazy")

                                .video__play
                                    .play.youtubeModal_js#rsDoGqnPE4c
                                        i.icon_play

            .head__bottom
                .miniCards
                    ul.miniCards__list
                        each item in [{img: '1', content: 'Собственная зуботехническая <b>лаборатория</b>'}, {img: '2', content: 'Только <b>стерильные инструменты</b> проходящие полный цикл обработки'},{img: '3', content: 'Личный <b>куратор</b> на весь процесс лечения в нашей клинике'},{img: '4', content: 'Беспроцентная <b>рассрочка</b> сроком на 12 месяцев'},]

                            // begin .bottom__item
                            .miniCards__item
                                .miniCards__img.img
                                    img(src=path +"img/card_sm_"+item.img+".png" alt="image" loading="lazy")
                                .miniCards__title!=item.content 

                            // end .bottom__item

    // end head


    include ../../sections/information.pug

    include ../../sections/team.pug

    include ../../sections/doctor.pug

    include ../../sections/instruction.pug

    include ../../sections/services.pug

    include ../../sections/payment.pug

    include ../../sections/advantages.pug

    include ../../sections/location.pug

    include ../../sections/feedback.pug

    include ../../sections/reviewsVideo.pug

    include ../../sections/reviewsCompany.pug

    include ../../sections/responses.pug


    // begin blog
    section#blog.blog.section
        .container_center
            h2.section__title Просто о сложном
            .section__desc Пишем статьи на актуальные темы в своём блоге 
            .blog__grid
                each item in [ {img: '1', title: 'Как подготовиться'}, {img: '2', title: 'Что делать, если сломался зуб: советы стоматолога по оказанию первой помощи'}, {img: '3', title: 'Лечение зубов за границей: плюсы и минусы, опыт и рекомендации'}, {img: '1', title: 'Как подготовиться к посещению стоматолога: советы и рекомендации'} ]
                    .blog__item


                        .blog__img.img
                            img(src="../../img/blog_"+item.img+".png" alt="image" loading="lazy") 
                        .blog__date 
                            span 28 / 02 / 2023
                        .blog__title
                            span=item.title 
                        .blog__link
                            a.snakeline.arrow(href="#") Читать статью
            .blog__more
                a.snakeline.arrow(href="#") Читать больше статей     

    // end blog

    include ../../sections/singup.pug

    include ../../sections/content.pug
